
* 
{

margin:0;
padding: 0;


}
body
{
    background: #d48e97;
    background-position:center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
section.header
{

    min-width:100vh;
    width: 100%;
   
}
.nav-links ul li a{
    color: white;
}
nav
{ display: flex;
    padding: 2% 6%;
    justify-content:space-between;
    align-items: center;

}
nav img{

width: 150px;
}

.nav-links
{

    flex: 1;
    text-align:right;
}
.nav-links ul li {

    list-style: none;
    display:inline-block;
    padding: 8px 12px;
    position:relative;
}


body {

    margin:0;
    padding:0;

}

.contact-form
{
    width: 85%;
    max-width: 600px;
    background: #f1f1f1;
    position: absolute;
    top: 10%;
    left:50%;
    transform: translate(-50%,50%);
    padding: 30px,40px;
    box-sizing: border-box;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 20px #000000b3;
    font-family: "Montserrat", sans-serif;
}
.contact-form h1 {
    margin-top: 0;
    font-weight: 200;

} 
.txtb
{
    border: 1px solid gray;
    margin: 8px, 0;
    padding: 12px 18px;
    border-radius: 8px;

} 
.txtb label
{ display:block;
    text-align: left;
    color: #333;
    text-transform: uppercase;
    font-size: 14px;

    
}
 
.txtb input, .txtb textarea{

    width: 100%;
    border: none;
    background: none;
    outline: none;
    font-size:18px;
    margin-top: 6px;

} 
.submit
{
    display: block;
    background: #d48e97;
    padding: 14px 0;
    color:white;
    text-transform: uppercase;
    cursor:pointer;
    margin-top:8px;
    width: 100%;

}
