* {
margin:0;
padding: 0;
}
body
{
    background:rgb(179, 115, 145);
    background-position:center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.nav-links ul li a{
    color: white;
}
section.header
{

    min-width:100vh;
    width: 100;
    
}

nav
{ display: flex;
    padding: 2% 6%;
    justify-content:space-between;
    align-items: center;

}
nav img{

width: 150px;
}

.nav-links
{

    flex: 1;
    text-align:right;
}
.nav-links ul li {

    list-style: none;
    display:inline-block;
    padding: 8px 12px;
    position:relative;
}
.contentpictures{
    height: 100vh;
    display: grid;
    grid-template-columns: 500px 500px 100px ;
  /*  align-items: center; */
padding: 100px;
padding-bottom: 0px;

}
.commlike {
   
    display: grid;;
    grid-template-columns: 500px 500px 100px;
    position: absolute;
    top: 520px;
    padding-left:150px;
 

}
#likecount {
    border:none;
    outline: none;
    background: none;
    font-size: 15px;
    font-weight: 800; 
    width: 100%;
    pointer-events: none;
    text-shadow: 2px 2px 3px #a8a4e7;
    color:black;
    padding-left: 40px;
    
}
#likecount1 {
    border:none;
    outline: none;
    background: none;
    font-size: 15px;
    font-weight: 800; 
    width: 100%;
    pointer-events: none;
    text-shadow: 2px 2px 3px #a8a4e7;
    color:black;
    padding-left: 40px;
    
}
#likecount2 {
    border:none;
    outline: none;
    background: none;
    font-size: 15px;
    font-weight: 800; 
    width: 100%;
    pointer-events: none;
    text-shadow: 2px 2px 3px #a8a4e7;
    color:black;
    padding-left: 40px;
    
}
.like-btn {
    
    grid-template-columns: 50px 100px;
    display: grid;
    padding-left: 60px;
}
.like-btn i
{
    font-size: xx-large;
    border-radius: 10px;
    color:pink;
    
}
.like-btn1 {
    
    grid-template-columns: 50px 100px;
    display: grid;
    padding-left: 60px;
}
.like-btn1 i
{
    font-size: xx-large;
    color:pink;
    border-radius: 10px;
    
}
.like-btn2 {
    
    grid-template-columns: 50px 100px;
    display: grid;
    padding-left: 60px;
}
.like-btn2 i
{
    font-size: xx-large;
    color: pink;
    border-radius: 10px;
    
}
