body {
   
    margin:0;
    padding:0;
    background: rgb(179, 115, 145);
    background-position:center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

h1
{ color: white;
    text-align: center;
    border: 10px solid rgba(255, 255, 255, 0.575);
line-height: 40px;
}
form {
    background-color:rgba(255, 255, 255, 0.575);
    max-width: 500px;
    margin: 50px auto;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}


.form-control {
    text-align: left;
    margin-bottom: 25px;
}


.form-control label {
    display: block;
    margin-bottom: 10px;
}


.form-control input,
.form-control select,
.form-control textarea {
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    padding: 10px;
    display: block;
    width: 95%;
}


.form-control input[type="radio"],
.form-control input[type="checkbox"] {
    display: inline-block;
    width: auto;
}

/* Styling Button */
button {
    background-color: #05c46b;
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    font-size: 21px;
    display: block;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
}

* 
{

margin:0;
padding: 0;


}

section.header
{

    min-width:100vh;
    width: 100%;
   
}
.nav-links ul li a{
    color: white;
}
nav
{ display: flex;
    padding: 2% 6%;
    justify-content:space-between;
    align-items: center;

}
nav img{

width: 150px;
}

.nav-links
{

    flex: 1;
    text-align:right;
}
.nav-links ul li {

    list-style: none;
    display:inline-block;
    padding: 8px 12px;
    position:relative;
}


